@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui;
  font-size: 13px;
  /* color: black; */
  color: white;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color: white;
  }
} */

svg {
  display: inline;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f8f8fe;
  background: -webkit-linear-gradient(to right, #ffffff, #f8f8fe);
  background: linear-gradient(to right, #ffffff, #f8f8fe); */
  background: #000000;
  background: -webkit-linear-gradient(to right, #1f1f1f, #000000);
  background: linear-gradient(to right, #1f1f1f, #000000);
  z-index: 1;
}

/* @media (prefers-color-scheme: dark) {
  .App {
    background: #000000;
    background: -webkit-linear-gradient(to right, #1f1f1f, #000000);
    background: linear-gradient(to right, #1f1f1f, #000000);
  }
} */

.iframe-wrapper iframe {
  /* width: 563px;
  height: 1218px; */
  width: 469px;
  height: 1015px;
  border: none;
  border-radius: 65px;
  overflow: hidden;
}

.iframe-wrapper-landscape iframe {
  /* width: 1218px;
  height: 563px; */
  width: 1015px;
  height: 469px;
  border: none;
  border-radius: 65px;
  overflow: hidden;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 2000000;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 2000000;
}
