.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}

.iframe-wrapper iframe {
  width: 563px;
  height: 1218px;
  border: none;
  border-radius: 65px;
}
